<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/">Home</a>
        </li>
    </ul>

</nav>